body {
    margin: 0px; 
    display: flex; 
background-color: #bde5ee; 
}


a {
    justify-content: space-around; 
    background-color: aliceblue; 
    border: 1px black solid; 
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


#main_container { 
    width: 1024px; 
    height: 5700px; 
    margin: 0px auto; 
    /* display: flex;  */
    background-color: #fcf49f; 
    border: 1px black solid;  
} 

#header { 
    width: 100%; 
    height: 97px; 
    background-color: #bde5ee; 
    border: 1px black solid;
} 

#about_me_content { 
    display: flex; 
    justify-content: space-around; 
    /* align-items: center; Optional: Aligns items vertically  */
    columns: 3; 
    width: 962px;
    height: 300px;
    /* border: 1px black solid;   */
    background-color: #fcf49f; 
    margin-bottom: 200px;

} 



ul { 
    /* border: 1px solid black;  */
    /* padding: 100px;  */
    background-color: #fcf49f; 
    font-size: 30px;
} 

p {
    background-color: #fcf49f; 
    font-size: 30px;
} 

#box { 
    width: 338px;  
    height: 50%; /* Adjust height as needed */ 
    padding: 10px; /* Optional: Add some padding */
}

h1{ 
   color: black; 
} 

#box-2 {
    color: black; 
    /* margin: 300px; */
        /* width:400px; */
        /* clear: left; */
} 

#Contact-content {
    display: flex; 
    justify-content: space-around; 
    height: 200px; 
    width: 400px;
    /* margin: 100px ; */
    /* align-items: center; Optional: Aligns items vertically  */
    columns: 3; 
    margin-top: 300px; 
    /* background-color: #fcf49f;  */
    background-image: url("/Portfolio/BackgroundForContacts.png");
    background-size: contain; /* Ensures the image covers the entire div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: left 400px; /* Centers the image in the div */
  width: 1030px; /* Optional: Set the width of the div */
  height: 1200px; /* Optional: Set the height of the div */
}
#Contacts { 
    color: black;
} 

#Portfolio {
    display: block; 
    justify-content: space-around; 
    /* align-items: center; Optional: Aligns items vertically  */
    width: 962px;
    height: 1500px;
    /* border: 1px black solid;   */
    margin-top: 1000px; 
    /* background-color: #fcf49f;  */
    position: absolute; 
} 

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center; 
} 

.Images {
    display: block;
  margin-left: auto;
  margin-right: auto;
}